<div class="container text-center">
  <header>
    <h1 class="text-4xl">Here are my projects used to learn Angular</h1>
  </header>
  <br />
  <div class="flex w-full">
    <div
      class="card w-48 py-20 bg-base-300 rounded-box grid flex-grow place-items-center"
    >
      <div>
        <a class="flex items-center" routerLink="/weather-app"
          ><img
            class="pr-2"
            src="assets/icons8-weather-forecast-48.png"
          />Weather App</a
        >
      </div>
      <div>
        <p class="px-10 pt-5">
          Simple Weather App that takes a Zipcode and calls an Api that delivers
          information about the weather for that area.
        </p>
      </div>
    </div>
    <div class="divider divider-horizontal"></div>
    <div
      class="card w-48 py-20 bg-base-300 rounded-box grid flex-grow place-items-center"
    >
      <div>
        <a class="flex items-center" routerLink="/job-tracker-app"
          ><img class="pr-2" src="assets/icons8-job-48.png" />Job Tracker App</a
        >
      </div>
      <div>
        <p class="px-10 pt-5">
          Job Table Application that keeps track of jobs of interest leveraging
          brower's local storage.
        </p>
      </div>
    </div>
  </div>
  <div class="divider divider-vertical"></div>
  <div class="flex w-full">
    <div
      class="card w-48 py-20 bg-base-300 rounded-box grid flex-grow place-items-center"
    >
      <div>
        <p class="px-10 text-xl">This website was built using:</p>
        <ul class="px-10 list-disc list-outside">
          <li>Angular - helped componentize each of the pages and projects.</li>
          <li>
            Tailwind CSS - helped style website, not having to use custom CSS.
          </li>
          <li>
            daisyUI - gave component CSS classes, making styling even easier.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
