<div class="flex w-full">
  <div
    class="card w-64 min-w-max py-20 bg-base-300 rounded-box grid flex-grow place-items-center"
  >
    <p>Contact Form Coming Soon</p>
  </div>
  <div class="divider divider-horizontal"></div>
  <div
    class="card w-48 min-w-64 py-20 bg-base-300 rounded-box grid flex-grow place-items-center"
  >
    <div>
      <p class="text-center">Find me on:</p>
    </div>
    <br />
    <div>
      <a class="flex items-center" href="https://github.com/knguyen3632"
        ><img src="/assets/icons8-github-48.png" />GitHub</a
      >
    </div>
    <br />
    <div>
      <a
        class="flex items-center"
        href="https://www.linkedin.com/in/kevin-duy-nguyen/"
        ><img src="/assets/icons8-linkedin-48.png" />LinkedIn</a
      >
    </div>
  </div>
</div>
