<h1 class="text-4xl">Work Experience</h1>
<br />
<div>
  <p>
    Currently contracted as a Software Developer for Texas Bullion Exchange,
    Inc. on a team of 3. I have gained experience developing software with
    complex problems. Being on-call required me to think on my feet when I am
    the last line of defense.
  </p>
</div>
<br />
<div>
  <h3 class="text-xl">Software Developer Contractor</h3>
  <h4 class="text-sm">Texas Bullion Exchange, Remote</h4>
  <h4 class="text-sm">August 2021 – Present</h4>
  <ul class="list-disc list-inside pt-2">
    <li>
      Developed a custom CRM in collaboration with clients, enhancing agent
      productivity, detailed reporting, and user-friendly UI/UX, leveraging
      Visual Studio, Visual Basic .Net, and MySQL.
    </li>
    <li>
      Coordinated with fellow contractors to plan design features and allocate
      tasks within specified deadlines.
    </li>
    <li>
      Designed and implemented systems for managing customer records, product
      sales, and sales data.
    </li>
    <li>
      Adapted the CRM to evolving client needs through customized solutions.
    </li>
    <li>
      Offered on-call technical support and consultation for CRM-related
      inquiries.
    </li>
  </ul>
  <br />
  <h3 class="text-xl">Game Developer</h3>
  <h4 class="text-sm">Auragon, Inc., Houston, TX</h4>
  <h4 class="text-sm">February 2020 – June 2021</h4>
  <ul class="list-disc list-inside pt-2">
    <li>
      Co-developed a mobile game app that blended puzzle and RPG gameplay
      mechanics for Android and iOS platforms, leveraging Unity and C#.
    </li>
    <li>
      Collaborated with fellow developers, artists, and investors to strategize
      design features and allocate tasks within specified deadlines.
    </li>
    <li>
      Designed and implemented captivating combat system mechanics, ensuring an
      engaging user experience.
    </li>
    <li>Designed and implemented tools to facilitate game content creation.</li>
    <li>
      Conducted Quality Assurance testing across various features of the mobile
      game application.
    </li>
  </ul>
</div>
