<div class="navbar bg-gray-800">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost md:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"
          />
        </svg>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow"
      >
        <li>
          <a
            routerLink=""
            class="rounded-md hover:bg-gray-700 px-3 py-2 text-md font-medium text-white"
            id="home"
            >Home</a
          >
        </li>
        <li>
          <a
            routerLink="projects"
            class="rounded-md hover:bg-gray-700 px-3 py-2 text-md font-medium text-white"
            id="projects"
            >Projects</a
          >
        </li>
        <li>
          <a
            routerLink="work-experience"
            class="rounded-md hover:bg-gray-700 px-3 py-2 text-md font-medium text-white"
            id="work-experience"
            >Work Experience</a
          >
        </li>
        <li>
          <a
            routerLink="contact"
            class="rounded-md hover:bg-gray-700 px-3 py-2 text-md font-medium text-white"
            id="contact"
            >Contact</a
          >
        </li>
      </ul>
    </div>
    <a class="pl-3 text-white font-semibold" routerLink="">KN</a>
  </div>
  <div class="navbar-center hidden md:flex">
    <ul class="menu menu-horizontal px-1">
      <li>
        <a
          routerLink=""
          class="rounded-md hover:bg-gray-700 px-3 py-2 text-md font-medium text-white"
          id="home"
          >Home</a
        >
      </li>
      <li>
        <a
          routerLink="projects"
          class="rounded-md hover:bg-gray-700 px-3 py-2 text-md font-medium text-white"
          id="projects"
          >Projects</a
        >
      </li>
      <li>
        <a
          routerLink="work-experience"
          class="rounded-md hover:bg-gray-700 px-3 py-2 text-md font-medium text-white"
          id="work-experience"
          >Work Experience</a
        >
      </li>
      <li>
        <a
          routerLink="contact"
          class="rounded-md hover:bg-gray-700 px-3 py-2 text-md font-medium text-white"
          id="contact"
          >Contact</a
        >
      </li>
    </ul>
  </div>
  <div class="navbar-end">
    <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
      <div class="w-10 rounded-full">
        <img
          alt="Tailwind CSS Navbar component"
          src="/assets/kevin_nguyen_pose.png"
          routerLink=""
        />
      </div>
    </div>
  </div>
</div>

<div class="container mx-auto px-10 pt-10">
  <router-outlet></router-outlet>
</div>
