<nav class="bg-gray-800">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div class="flex flex-1 items-center justify-center">
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">
            <a
              routerLink=""
              class="rounded-md hover:bg-gray-700 px-3 py-2 text-md font-medium text-white"
              id="home"
            >
              Home
            </a>
            <a
              routerLink="projects"
              class="rounded-md hover:bg-gray-700 px-3 py-2 text-md font-medium text-white"
              id="projects"
            >
              Projects
            </a>
            <!-- <div class="dropdown">
              <button
                routerLink="projects"
                class="dropbtn rounded-md hover:bg-gray-700 px-3 py-2 text-md font-medium text-white inline-flex w-full justify-center gap-x-1.5"
                id="projects"
              >
                Projects
                <svg
                  class="-mr-1 h-5 w-5 text-gray-400"
                  style="padding-top: 5px"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                    clip-rule="evenodd"
                  />
                </svg>
              </button>
              <div class="dropdown-content">
                <a routerLink="/weather-app">Weather App</a>
                <a routerLink="/job-tracker-app">Job Tracker App</a>
              </div>
            </div> -->
            <a
              routerLink="work-experience"
              class="rounded-md hover:bg-gray-700 px-3 py-2 text-md font-medium text-white"
              id="work-experience"
            >
              Work Experience
            </a>
            <a
              routerLink="contact"
              class="rounded-md hover:bg-gray-700 px-3 py-2 text-md font-medium text-white"
              id="contact"
            >
              Contact
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="container mx-auto px-20 pt-20">
  <router-outlet></router-outlet>
</div>
