<div>
  <p class="text-4xl text-center">Kevin Nguyen</p>
  <br />
  <p class="text-lg text-center">Hi, Welcome to my website!</p>
  <br />
  <p>
    I am currently contracted as a Software Developer at Texas Bullion Exchange,
    Inc., where I work as part of a dedicated team of three. My role involves
    tackling complex software development challenges, which has significantly
    enhanced my problem-solving skills. Additionally, my on-call
    responsibilities have honed my ability to think quickly and act decisively,
    especially when serving as the final line of defense.
  </p>
  <br />
  <p class="text-2xl pb-2">Education</p>
  <p class="text-xl">Bachelor of Science in Computer Science</p>
  <p>University Of Houston | Houston, TX</p>
  <p>May 2020</p>
  <p class="text-sm">Interactive Game Development Certificate</p>
  <p class="text-sm">3.6 GPA</p>
  <br />
  <p class="text-2xl pb-2">Skills</p>

  <div class="grid grid-cols-3 gap-8">
    <div class="w-full">
      <p class="font-semibold">Programming Languages</p>
      <ul class="list-disc list-inside">
        <li>Visual Basic .Net</li>
        <li>MySQL</li>
        <li>C#</li>
        <li>C++</li>
        <li>JavaScript</li>
        <li>Angular*</li>
      </ul>
    </div>

    <div class="w-full">
      <p class="font-semibold">Tools and Platforms</p>
      <ul class="list-disc list-inside">
        <li>Git</li>
        <li>Microsoft SQL Server</li>
        <li>MySQL</li>
        <li>VS Code</li>
        <li>Visual Studio</li>
        <li>phpMyAdmin</li>
      </ul>
    </div>

    <div class="w-full">
      <p class="font-semibold">Other</p>
      <ul class="list-disc list-inside">
        <li>Microsoft Office Suite</li>
        <li>Adobe Photoshop</li>
      </ul>
    </div>
  </div>
</div>
